<template>
  <div class="ratio ratio-banner">
    <div v-bind:class="{'justify-content-center': text_orientation === 'center'}"
        class="banner-image book-intro d-flex align-items-center"
         v-bind:style="'background-image: url(' + banner_path + ');'">
        <span v-bind:class="['text-' + text_color, {'ps-3': text_orientation !== 'center'}]" class="h2 descript-text">{{banner_descript}}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Banner",
  props:{
    banner_path: {
      type: String,
      default: '/images/book1.jpg',
    },
    banner_descript: {
      type: String,
      default: 'Latest Book Sell',
    },
    text_orientation: {
      type: String,
      default: 'center',
    },
    text_color: {
      type: String,
      default: 'light',
    }
  }
}
</script>

<style scoped lang="scss">
.ratio-banner{
  padding-top: 56.25%;
}
.book-intro{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .descript-text{
    max-width: 18.75rem;
  }
}
@media screen and (min-width: 991px){
  .ratio-banner{
    padding-top: 32.1%;
  }
  .book-intro{
    .grad-book-intro{
      max-width: 31.25rem;
    }
  }
}
</style>