<template>
  <div class="">
    <nav class="bg-primary header-menu navbar navbar-expand-lg navbar-dark">
      <div class="container-lg">
        <div class="navbar-brand">
          <router-link class="d-block" to="/">
            <img class="logo-img" src="/images/logo.svg" />
          </router-link>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <router-link class="nav-link text-light" to="/selling-books">
                I am a seller
              </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link text-light" to="/buyer">
                I am a buyer
              </router-link>
            </li>
          </ul>
          <div class="ms-auto d-flex">
            <router-link to="/shopping-cart" class="btn d-flex align-items-center text-light">
              <svg style="width: 1rem; height: 1rem"><use xlink:href="#cart-icon-white"></use></svg>
              <span class="count ps-1">{{shoppingCartItemCounter}}</span>
            </router-link>
            <div class="dropdown ms-auto" v-if="isLoggedIn">
              <button class="btn text-light dropdown-toggle"
                      v-if="user_arr !== null"
                      type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <svg style="width: 1rem; height: 1rem">
                  <use xlink:href="#user-icon-white" fill="#fff"></use>
                </svg>
                {{user_arr.username}}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                  <router-link class="dropdown-item" to="/profile">
                    Profile
                  </router-link>
                </li>
                <li>
                  <router-link class="dropdown-item" to="/order">
                    My Orders
                  </router-link>
                </li>
                <li>
                  <a class="dropdown-item"
                     v-on:click.prevent="logout"
                     href="/api/users/logout">
                    Logout
                  </a>
                </li>
              </ul>
            </div>
            <div v-else>
              <router-link class="btn btn-outline-light" to="/login">
                Login
              </router-link>
            </div>
          </div>

        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "Header",
  computed: {
    ...mapGetters(["shoppingCartItemCounter"]),
    isLoggedIn() {
      return this.$store.getters.getIsLogIn;
    }
  },
  data() {
    return {
      serverMessage: null,
      user_arr: null
    };
  },
  mounted: function() {
    this.checklogin();
  },
  methods: {
    checklogin: function(){
      var self = this;
      var xhr = new XMLHttpRequest();
      xhr.onload = function(){
        var respond = xhr.response;
        if(respond.data.is_logged_in === true){
          self.$store.commit('setLoggedIn');
        }
        self.user_arr = respond.data;
      }
      xhr.open('GET', '/api/users/check-login');
      xhr.responseType = 'json';
      xhr.send();
    },
    logout: function(){
      var self = this;
      var xhr = new XMLHttpRequest();
      xhr.onload = function(){
        var respond = xhr.response;
        if(respond.data.success){
          self.$store.commit('setLoggedOff');
          window.localStorage.clear();
        }
      }
      xhr.open('POST', '/api/users/logout');
      xhr.responseType = 'json';
      xhr.send();
    }
  },
};
</script>

<style lang="scss" scoped>
.header-menu{
  .logo-img{
    height: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .header-menu{
    .logo-img{
      height: 1.5rem;
    }
  }
}
</style>