<template>
  <div class="py-3">
    <div class="order-item">
      <div class="row gx-0" v-bind:key="order" v-for="order in orders">
        <div class="col-12 p-3 bg-secondary text-light">
          <div><span class="fw-bold">Order ID: </span>{{order.id}}</div>
          <div><span class="fw-bold">Order Date: </span>{{order.ordered_at}}</div>
        </div>
        <div class="col-12" v-bind:key="order_item" v-for="order_item in order.order_item">
          <div class="row align-items-center order-row">
            <div class="col-2">
              <div class="ratio ratio-book"
                   v-bind:style="'background-image: url(/api/' + order_item.book_image + ')'"
                   style="--aspect-ratio: 133.3%;">
              </div>
            </div>
            <div class="col-8">
              {{order_item.book_name}}
            </div>
            <div class="col-2 fw-bold text-center">
              £ {{order_item.price}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "OrderList",
  props: {
    orders: {
      type: Array,
    }
  }
}
</script>

<style scoped lang="scss">
.order-item{
  border: 1px solid #2c3e50;
  .ratio-book{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .order-row{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: -1px;
      left: 1rem;
      right: 1rem;
      height: 1px;
      background-color: #2c3e50;
    }

  }
}
</style>