<template>
  <div>
    <TheIcons />
    <Header></Header>
    <div class="container-lg">
      <section class="bg-secondary">
        <div class="d-flex align-items-center">
          <div
              class="ratio ratio-book m-3"
              style="--aspect-ratio: 133.3%;"
          >
            <div class="item-screenshot"
                 v-bind:style="'background-image: url(/api/' + book_data.book_image + ')'"></div>
          </div>
          <div class="book-intro ps-3 text-light">
            <h1 class="h2">{{book_data.book_name}}</h1>
            <p>{{book_data.conditions | condition_filter }} - £ {{book_data.price}}</p>
            <BuyButton :payload="{ id: $route.params.id,
              book_name: book_data.book_name,
              price_when_added: book_data.price,
              book_image: book_data.book_image,
              sold_by: book_data.username,
              is_available: book_data.availability
            }"></BuyButton>
          </div>
        </div>
      </section>
      <section class="py-3">
        <router-link v-bind:to="'/profile/' + book_data.listed_by" class="btn btn-light w-100 mb-2 py-3 d-flex align-items-center px-3">
          <svg style="width: 2rem; height: 2rem" class="pe-3"><use xlink:href="#user-icon"></use></svg>
          <div>
            {{book_data.username}}
          </div>
        </router-link>
        <div class="mb-3">Post date: {{book_data.post_date}}</div>
        <div class="description my-4">
          <h2 class="h3">Description</h2>
          <div v-html="book_data.description"></div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import TheIcons from "@/components/TheIcons.vue";
import BuyButton from "@/components/TheBuyButton.vue";
import { mapMutations } from "vuex";

export default {
  components: {
    Header,
    TheIcons,
    BuyButton,
  },
  computed: {
    showBuyBtn() {
      return this.$store.getters.getIsLogIn;
    }
  },
  data() {
    return {
      get_data_url: '/api/books/listing/' + this.$route.params.id,
      book_data: [],
    };
  },
  filters: {
    condition_filter(condition) {
      switch (condition) {
        case 'new': return 'New';
        case 'used_but_look_new': return 'Used but looks new';
        case 'used': return  'Used';
      }
    }
  },
  name: "BookDetails",
  mounted() {
    this.getBookDetails();
  },
  methods: {
    ...mapMutations([
       "addToShoppingCart"
    ]),
    getBookDetails() {
      var self = this;
      var xhr = new XMLHttpRequest();
      xhr.open("GET", this.get_data_url);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          self.book_data = xhr.response;
        }
      };
      xhr.responseType = "json";
      xhr.send();
    }
  }
}
</script>

<style scoped>
.item-screenshot{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ratio-book{
  width: 6rem;
}
@media screen and (min-width: 768px) {
  .ratio-book{
    width: 15rem;
  }
}
</style>