<template>
  <div>
    <Header></Header>
    <div class="container-lg">
      <Banner
          banner_descript="Sell your books."
          banner_path="/images/graduation.jpg"></Banner>
      <h2 class="h4 py-3">Please fill in the details below.</h2>
      <form enctype="multipart/form-data" method="post"
            id="book-submit-form"
            v-on:submit.prevent="submitBookSell"
            action="/api/books/sell-book">
        <div class="mb-3">
          <label for="bookname">Book Name</label>
          <input type="text" id="bookname" name="bookname" class="form-control" />
          <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3 row align-items-center" >
          <div class="col-6">
            <div class="mb-3">
              <label for="image">Book Image</label>
              <input type="file"
                     v-on:change="updateImagePreview"
                     id="image" name="image" class="form-control" />
              <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <div class="ratio" style="--aspect-ratio: 133.3%; width: 15rem">
              <div v-if="image_blob === null"
                   class="bg-dark d-flex justify-content-center align-items-center text-light">
                Preview
              </div>
              <div
                  v-else v-bind:style="'background-image: url(' + image_blob + ')'"
                  style="background-size: cover; background-repeat: no-repeat; background-position: center center"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3 ">
            <label for="price">Price</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">£</span>
              <input type="text" id="price" name="price" class="form-control" />
              <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-3 ">
            <label for="condition">Condition</label>
            <div class="input-group">
              <select name="condition" id="condition"
                      v-model="book_condition"
                      class="form-control">
                <option value="new">New</option>
                <option value="used_but_look_new">Used but looks like new</option>
                <option value="used">Used</option>
              </select>
              <div class="invalid-feedback"></div>
            </div>
            <div id="dont-recommand-new-sell"
                 v-if="book_condition === 'new'"
                 class="form-text">We discourage selling new books.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="description">Description</label>
          <div id="toolbar">
            <select class="ql-font">
              <option selected>Sans Serif</option>
              <option value="Calibri">Calibri</option>
              <option value="Times New Roman">Times New Roman</option>
              <option value="Tahoma">Tahoma</option>
              <option value="Arial">Arial</option>
              <option value="Monospace">Monospace</option>

            </select>
            <!-- Add font size dropdown -->
            <div class="ql-formats">
              <select class="ql-size">
                <template
                    v-for="n in (49-11)">
                  <option
                      v-if="(n % 2)"
                      v-bind:key="n"
                      v-bind:selected="n === 1"
                      v-bind:value="n+11 + 'px'">
                    {{n + 11}}
                  </option>
                </template>
              </select>
              <select class="ql-color"></select>
            </div>

            <div class="ql-formats">
              <button class="ql-bold"></button>
              <button class="ql-underline"></button>
              <button class="ql-italic"></button>
            </div>
            <div class="ql-formats">
              <button class="ql-script" value="sub"></button>
              <button class="ql-script" value="super"></button>
            </div>
            <div class="ql-formats">
              <button class="ql-align"></button>
              <button class="ql-align" value="center"></button>
              <button class="ql-align" value="right"></button>
            </div>
            <div class="ql-formats">
              <button class="ql-indent" value="-1" />
              <button class="ql-indent" value="+1" />
            </div>
          </div>
          <div class="editor form-control content-descript"></div>
          <textarea id="description" name="description"
                    v-model="editor_text"
                    class="d-none form-control"></textarea>
          <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
          <button class="btn btn-success">Post</button>
        </div>
      </form>
    </div>

  </div>
</template>

<script>
import $ from 'jquery';
import Quill from 'quill';
import 'quill/dist/quill.snow.css';
import Header from "@/components/Header.vue";
import Banner from "@/components/Banner.vue";


export default {
  name: "BookSellRegistration",
  data() {
    return {
      check_login_url: '/api/users/check-login',
      reader: new FileReader(),
      image_blob: null,
      editor: null,
      editor_text: '',
      book_condition: 'used_but_look_new',
    };
  },
  components: {
    Header,
    Banner
  },
  mounted() {
    var self = this;
    this.checkLoggedIn();
    this.reader.onload = function(event){
      self.image_blob = event.target.result;
    };
    this.setupOnInputClearError();
    this.initWsiwyg();
  },
  methods: {
    checkLoggedIn() {
      var self = this;
      if (this.$store.getters.getIsLogIn === false) {
        self.$router.push('/login');
      }
    },
    updateImagePreview(e){
      var file = e.target.files[0];
      this.reader.readAsDataURL(file);
    },
    setupOnInputClearError(){
      $('.form-control').on('keyup', function(){
        $(this).removeClass('is-invalid');
      });
    },
    initWsiwyg(){
      var self = this;
      var BackgroundStyle = Quill.import('attributors/style/background');
      var AlignStyle = Quill.import('attributors/style/align');
      var FontStyle = Quill.import('attributors/style/font');
      var ColorStyle = Quill.import('attributors/style/color');
      var SizeStyle = Quill.import('attributors/style/size');
      var Parchment = Quill.import('parchment');

      //Generate 12px to 48px size whitelist
      var size_whitelist = [];
      for(var i = 12; i < 48; i++){
        size_whitelist.push(i + 'px');
      }
      SizeStyle.whitelist =  size_whitelist;
      FontStyle.whitelist = ['Tahoma', 'Calibri', 'Times New Roman', 'Noto Sans', 'Roboto', 'Arial', 'Monospace'];

      const pixelLevels = [1, 2, 3, 4, 5, 6, 7, 8];
      const TAB_MULTIPLIER = 3;

      class IndentAttributor extends Parchment.Attributor.Style {
        add(node, value) {
          return super.add(node, `${+value * TAB_MULTIPLIER}rem`);
        }

        value(node) {
          return parseFloat(super.value(node)) / TAB_MULTIPLIER || undefined // Don't return NaN
        }
      }
      const IndentStyle = new IndentAttributor("indent", "margin-left", {
        scope: Parchment.Scope.BLOCK,
        whitelist: pixelLevels.map(value => `${value * TAB_MULTIPLIER}rem`),
      })

      Quill.register({ "formats/indent": IndentStyle }, true);
      Quill.register(BackgroundStyle, true);
      Quill.register(ColorStyle, true);
      Quill.register(SizeStyle, true);
      Quill.register(FontStyle, true);
      Quill.register(AlignStyle, true);

      var option = {
        modules: {
          toolbar: '#toolbar',
        },
        theme: "snow"
      };
      self.editor = new Quill($('.editor').get(0), option);
      self.editor.on('text-change', function() {
        self.getWYSIWYGHtml();
      })
    },
    getWYSIWYGHtml() {
      this.editor_text = this.editor.root.innerHTML;
    },
    submitBookSell() {
      var self = this;
      $("#book-submit-form .form-control.is-invalid").removeClass('is-invalid');
      $.ajax({
        type: "POST",
        url: $("#book-submit-form").attr('action'),
        data: new FormData(document.getElementById('book-submit-form')),
        processData: false,
        contentType: false,
        cache: false,
        success: function(data) {
          if (data.data.error){
            for (var key in data.data.error) {
              $("#book-submit-form .form-control[name=" + key + "]")
                  .addClass('is-invalid')
                  .siblings('.invalid-feedback').html(data.data.error[key]);
            }
            if(data.data.error.description){
              $(".content-descript").addClass('is-invalid');
            }

          }else if (data.data.success){
            self.$router.push('/sell/' + data.data.id);
          }

        }
      });
    }
  }
}
</script>

<style scoped>
.editor{
  min-height: 45em;
}
.ql-toolbar.ql-snow .ql-picker-options{
  max-height: 30em !important;
  overflow: scroll !important;
}
.ql-container.ql-snow.is-invalid{
  border-color: #dc3545 !important;
}
</style>